{% extends "sablon.html" %} {% block icerik %}

<div class="container center">
  <div class="w3-content w3-display-container">
    <div class="w3-display-container mySlides">
      <img src="static/img/f5.jpg" style="width:50%" />
      <div
        class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
      >
        Müslüm
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="static/img/f4.jpg" style="width:50%" />
      <div
        class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
      >
        Organize İşler 2
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="static/img/f3.jpg" style="width:50%" />
      <div
        class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
      >
        Başlangıç
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="static/img/f2.jpg" style="width:50%" />
      <div
        class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
      >
        Joker
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="static/img/f1.jpeg" style="width:50%" />
      <div
        class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
      >
        7. Koğuştaki Mucize
      </div>
    </div>

    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">
      &#10094;
    </button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">
      &#10095;
    </button>
  </div>
</div>
<br />
<br />
<br />
<div class="w3-container w3-red center">
  <h1>Güncel İstek Listesi</h1>
</div>
<div class="container">
  {% for yap in yapilacaklar %}
  <br />
  <br />
  <br />

  <div class="w3-card-4 w3-black">
    <div class="w3-container w3-center">
      <h3>{{ yap.get('filmad') }}</h3>
      <br />
      <img src="{{ yap.get('filmr') }}" alt="Avatar" style="width:50%" />
      <br />
      <h4>{{ yap.get('filmk') }}</h4>
    </div>
  </div>
  <br />
  <br />
  <br />
  {% endfor %}
</div>

<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs((slideIndex += n));
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
{% endblock %}
