{% extends "sablon.html" %} {% block icerik %}

    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <img
          src="static/img/f1.jpeg"
          alt="Norway"
          style="width:70%"
          class="w3-hover-opacity"
        />
        <div class="w3-container w3-white">
          <p><b>7. Koğuştaki Mucize</b></p>
          <p>
            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
            condimentum, porta lectus vitae, ultricies congue gravida diam non
            fringilla.
          </p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <img
          src="static/img/f2.jpg"
          alt="Norway"
          style="width:70%"
          class="w3-hover-opacity"
        />
        <div class="w3-container w3-white">
          <p><b>Joker</b></p>
          <p>
            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
            condimentum, porta lectus vitae, ultricies congue gravida diam non
            fringilla.
          </p>
        </div>
      </div>
      <div class="w3-third w3-container">
        <img
          src="static/img/f3.jpg"
          alt="Norway"
          style="width:75%"
          class="w3-hover-opacity"
        />
        <div class="w3-container w3-white">
          <p><b>İnception</b></p>
          <p>
            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
            condimentum, porta lectus vitae, ultricies congue gravida diam non
            fringilla.
          </p>
        </div>
      </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <img
          src="static/img/f4.jpg"
          alt="Norway"
          style="width:70%"
          class="w3-hover-opacity"
        />
        <div class="w3-container w3-white">
          <p><b>Organize İşler 2</b></p>
          <p>
            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
            condimentum, porta lectus vitae, ultricies congue gravida diam non
            fringilla.
          </p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <img
          src="static/img/f5.jpg"
          alt="Norway"
          style="width:70%"
          class="w3-hover-opacity"
        />
        <div class="w3-container w3-white">
          <p><b>Müslüm</b></p>
          <p>
            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
            condimentum, porta lectus vitae, ultricies congue gravida diam non
            fringilla.
          </p>
        </div>
      </div>
      </div>
    </div>
    
    {% endblock %}
